html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.wrap{
	width: 1000px;
	margin: 0 auto;
}

.clearfix{
	clear: both;
}

.header .sns{
	background-color: #f6f6f6;
	padding: 10px 0;
	margin: 5px 0;
}

.header .sns ul{
	float: right;
}

.header .sns li{
	float: left;
	margin-right: 20px;
}

.header .sns img{
	margin-right: 5px;
}	

.header .sns .fb{
	color: #4460a0;
	font-weight: bold;
	text-decoration: none;
}

.header .sns .fb:hover{
	color: pink;
}

.header .sns .twitter{
	color: #62c8f0;
	font-weight: bold;
	text-decoration: none;
}

.header .sns .twitter:hover{
	color: pink;
}

.header .topmenu h1{
	float: left;
	margin: 0 10px;
}

.header .topmenu h1 a{
	background-image: url("../images/logo.png");
	width: 178px;
	height: 44px;
	display: block;
	text-indent: 101%;
	overflow: hidden;
	white-space: nowrap;
	background-repeat: no-repeat;
	margin: 8px 0;

}

.header .topmenu ul{
	float: right;
}

.header .topmenu-choose>li{
	float: left;
	margin-right: 20px;
	margin-top: 30px;
	display: block;

}

.topmenu-choose a{
	color: #00cc99;
	text-decoration: none;
	font-weight: bold;
	padding: 8px 0;
	display: block;
}

.topmenu-choose ul{
	display: none;
}

.header .topmenu .frontpage{
	border-bottom: 3px solid #00cc99;
}

.header .topmenu li a:hover, .header .topmenu a.active{
	color: orange;

}

.swiper-slide{
	background-image: url("../images/banner.png");
	height: 346px;
	margin-bottom: 20px;
}

.content .menu img{
	width: 280px;
	margin-bottom: 8px;
}

.content .menu .mainmenu{
	float: left;
	display: block;
	width: 280px;
	border: 1px solid #e4e4e4;
	border-radius: 5px;
	box-shadow: 4px 4px 2px #e4e4e4;
	padding: 10px 10px 20px 10px; 
	margin: 40px 15px;
	text-decoration: none;
	font-family: Arial;
	line-height: 1.5;
	
}

.content .menu li h2{
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	color: #333333;
}

.content .menu .contentmenu {
	list-style: disc;
	display: inline-block;
	padding-left: 20px;
	
}

.lesson{
	margin: 30px 90px 50px 90px;
	font-family: Arial;
}

h3{
	font-size: 24px;
	margin: 10px 380px 0px 380px;
	
}

.lesson th{
	font-weight: bold;
	background: #f7f7f7;
}

.lesson th, .lesson td{
	border-top: 1px solid #dddddd;
	border-bottom: 2px solid #dddddd;
	padding: 8px 100px 8px 0px;

}

.data{
	background-image: url("../images/customerdatabg.png");
	height: 350px;
	padding: 30px 50px;
}

h4{
	font-size: 24px;
	text-align: center;
	color: white;
	font-weight: bold;
	margin: 8px;
}

.textarea{
	margin: 12px 25px;
	float: left;
	border-radius: 5px;
}

.form-info{
	float: right;
	color: white;
	width: 45%;
	line-height: 2;
	font-size: 16px;
}

.formdata{
	width: 350px;
	height: 25px;
	margin: 5px;
	border-radius: 5px;
}

.button{
	background: #00cc99;
	color: white;
	border: #00cc99;
	border-radius: 2px;
	padding: 5px 18px;
	margin: 20px 40px 0 0;
	float: right;
}

.button:hover{
	background: green;
}

.footer img{
	margin: 25px;
	float: left;
}

.companyinfo{
	float: right;
	margin: 20px 40px 0 0;
	line-height: 1.5;
}

.top{
	position: fixed;
	bottom: 0;
	right: 0;
}

.top img{
	width: 120px;
}

.swiper-container {
    width: 1002px;
    height: 346px;
}